@charset "utf-8";

@media screen and (max-width: 767px) {
  header {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 99;
  }
  header .header-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  header a.logo {
    width: 150px;
    margin-top: 18px;
  }
  header a.logo img {
    width: 100%;
  }
  header .nav-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 9;
  }
  header .nav-bg.on {
    opacity: 1;
    visibility: visible;
  }

  /* 네비게이션 */
  header nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
  }
  header .top-menu,
  header .bottom-menu {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 5%;
    background: #f0f0f0;
  }
  header .top-menu {
    border-bottom: 1px solid #ddd;
  }
  header .bottom-menu {
    border-top: 1px solid #ddd;
  }
  header .top-menu > li,
  header .bottom-menu > li {
    display: flex;
    align-items: center;
    width: 15%;
    height: 100%;
  }
  header .top-menu > li > a,
  header .bottom-menu > li > a {
    width: 100%;
    font-size: 1.4rem;
    transition: color 0.2s ease;
  }
  header .top-menu > li > a:hover,
  header .bottom-menu > li > a:hover {
    color: #ff8d00;
  }
  header .main-menu {
    width: 100%;
    height: calc(100% - 100px);
    padding: 1% 0 0 5%;
    overflow-y: scroll;
  }
  header .main-menu > li {
    width: 100%;
    padding: 3% 0;
  }
  header .main-menu > li > a {
    position: relative;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    transition: color 0.2s ease;
  }
  header .main-menu > li > a:hover {
    color: #ff8d00;
  }
  header .main-menu > li > a.shop-menu::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "+";
    font-size: 2.4rem;
    transform: translateY(-50%);
  }
  header .main-menu > li > a.shop-menu:hover::after {
    content: "−";
  }
  header .sub-menu {
    width: 100%;
    padding: 1% 0 0 5%;
  }
  header .sub-menu > li {
    width: 100%;
    padding: 2% 0;
  }
  header .sub-menu > li > a {
    width: 100%;
    font-size: 2rem;
    transition: color 0.2s ease;
  }
  header .sub-menu > li > a:hover {
    color: #ff8d00;
  }
  /* hover */
  header a:hover {
    color: rgb(240, 6, 6);
  }
  header a.trigger {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 26px;
    height: 26px;
    z-index: 100;
  }
  header a.trigger span {
    display: block;
    position: relative;
    width: 26px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before,
  header a.trigger span::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before {
    top: 9px;
  }
  header a.trigger span::after {
    top: 18px;
  }
  /* active class */
  header a.trigger span.on {
    background-color: transparent;
  }
  header a.trigger span.on::before {
    transform: rotate(-45deg);
  }
  header a.trigger span.on::after {
    transform: translateY(-9px) rotate(45deg);
  }

  /* main */
  .banner-con {
    position: relative;
    padding-top: 50px;
  }
  .banner-con .banner-img {
    z-index: 9;
  }
  .banner-con .banner-img img {
    width: 100%;
  }
  .banner-img .swiper-pagination {
    color: #fff;
    font-size: 1.6rem;
  }
  .banner-con .banner-content {
    display: none;
  }

  /* collection */
  .collection-con {
    width: calc(100% - 40px);
    margin: 50px 20px;
  }
  .collection-con h2 {
    font-size: 4rem;
    text-align: center;
  }
  .collection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .collection-list > li {
    width: 100%;
  }
  .collection-list > li > img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .collection-list > li > h3 {
    padding-top: 20px;
    font-size: 3rem;
  }
  .collection-list > li > p {
    padding-top: 10px;
    font-size: 1.5rem;
  }
  .collection-list > li > a.arrow-btn {
    width: 14rem;
    margin-top: 20px;
    padding-left: 2rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 40px;
    background-color: rgb(255, 183, 88);
    border-radius: 50px;
    transition: color, background-color 0.2s ease;
  }
  .collection-list .swiper-container {
    display: none;
  }

  /* attach background */
  .attach-con {
    width: 100%;
    height: 300px;
    margin: 80px 0;
    background: #fff url("../imgs/attach-img.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  /* best item */
  .best-item-con {
    width: calc(100% - 40px);
    margin: 50px 20px;
  }
  .best-item-con h2 {
    font-size: 4rem;
    text-align: center;
  }
  .best-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  .best-item-list > li {
    width: 48%;
  }
  .best-item-list > li:nth-child(5),
  .best-item-list > li:nth-child(6),
  .best-item-list > li:nth-child(7),
  .best-item-list > li:nth-child(8) {
    display: none;
  }
  .best-item-list > li > a {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .best-item-list > li > a::before {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
  }
  .best-item-list > li:hover a::before,
  .best-item-list > li:hover a::after {
    opacity: 1;
  }
  .best-item-list > li > a::after {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "SHOP NOW";
    width: 50%;
    height: 15%;
    padding-top: 5%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #fff;
    border: 1px solid #333;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.2s ease;
  }
  .best-item-list > li > a > img {
    width: 100%;
  }
  .best-item-list > li > span {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .best-item-con button.direct-btn {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb(255, 183, 88);
    transition: color, background-color 0.2s ease;
    cursor: pointer;
  }

  /* question */
  .question-con {
    width: calc(100% - 40px);
    height: 350px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .question-con h2 {
    padding-bottom: 20px;
    font-size: 4rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .question-con .question-list {
    width: 100%;
  }
  .question-list > .question {
    position: relative;
    padding: 15px 15px 15px 0;
    font-size: 1.8rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  .question-list > .question::after {
    position: absolute;
    right: 0;
    top: 50%;
    content: "+";
    font-size: 2rem;
    transform: translateY(-50%);
  }
  .question-list > .answer {
    display: none;
    padding: 15px 15px 15px 0;
    font-size: 1.4rem;
    background: #f2f2f2;
    cursor: pointer;
  }

  /* aside */
  aside {
    position: fixed;
    right: 20px;
    bottom: 4vw;
    font-size: 4rem;
    z-index: 1;
  }
  /* footer */
  footer {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: rgb(255, 252, 208);
  }
  footer p {
    padding: 5px 0;
    font-size: 1.2rem;
    text-align: center;
  }
  footer .sns-con {
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
  }
  footer .sns-con li {
    float: left;
    width: 33.33%;
  }
  footer .sns-con li a i {
    display: block;
    font-size: 3rem;
    text-align: center;
  }
  footer .sns-con li:nth-child(1) a i {
    color: #ff0000;
  }
  footer .sns-con li:nth-child(2) a i {
    color: #1da1f2;
  }
  footer .sns-con li:nth-child(3) a i {
    color: #8a3ab9;
  }
}
