@charset "utf-8";

/* 영문 폰트 */
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* 한글 폰트 */
/* font-family: 'Gothic A1', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
ul li {
  list-style: none;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
button {
  border: 0;
  outline: 0;
  background-color: unset;
}
body {
  min-width: 320px;
  color: #333;
  font-family: "Gothic A1", sans-serif;
  background-color: #fff;
}
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}
.clear {
  clear: both;
}
