@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
button {
  border: 0;
  outline: 0;
  background-color: unset;
}
body {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 50px;
  }
  header a.logo {
    display: inline-block;
    margin: 15px 0 0 20px;
    color: red;
  }
  header nav {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
  }
  header a.trigger {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    margin: 16px 20px 0 0;
    z-index: 100;
  }
  header a.trigger span {
    display: block;
    position: relative;
    width: 28px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before,
  header a.trigger span::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before {
    top: 9px;
  }
  header a.trigger span::after {
    top: 18px;
  }
  /* active class 추가 */
  header a.trigger span.on {
    background-color: transparent;
  }
  header a.trigger span.on::before {
    transform: rotate(-45deg);
  }
  header a.trigger span.on::after {
    transform: translateY(-9px) rotate(45deg);
  }
  header .nav-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  .main-con {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination {
    color: #fff;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
  }
  /* collection */
  .collection-con {
    width: 100%;
    margin-top: 50px;
  }
  .collection-con h2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  .collection-con img {
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  .collection-con button.direct {
    width: calc(100% - 200px);
    height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 100px;
    border: 1px solid #999;
  }
}
