@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
button {
  border: 0;
  outline: 0;
  background-color: unset;
}
body {
  background-color: #fff;
}
.clear {
  clear: both;
}

@media screen and (max-width: 767px) {
  header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 99;
  }
  header a.logo {
    display: inline-block;
    margin: 10px 0 0 20px;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
  }
  /* 네비게이션 */
  header nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    overflow-y: auto;
  }
  header #top-menu {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #999;
  }
  header #top-menu > a {
    float: left;
    margin: 15px 0 0 50px;
    font-size: 16px;
  }
  header #main-menu {
    float: left;
    width: 100%;
    height: calc(100% - 100px);
  }
  header #main-menu > li > a {
    margin: 30px 0 0 50px;
    font-size: 32px;
    font-weight: bold;
  }
  header .sub-menu > li > a {
    margin: 30px 0 0 50px;
    font-size: 26px;
  }
  header #bottom-menu {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #999;
  }
  header #bottom-menu > a {
    float: left;
    margin: 15px 0 0 50px;
    font-size: 16px;
  }
  header a.trigger {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    margin: 16px 20px 0 0;
    z-index: 100;
  }
  header a.trigger span {
    display: block;
    position: relative;
    width: 28px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before,
  header a.trigger span::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before {
    top: 9px;
  }
  header a.trigger span::after {
    top: 18px;
  }
  /* active class 추가 */
  header a.trigger span.on {
    background-color: transparent;
  }
  header a.trigger span.on::before {
    transform: rotate(-45deg);
  }
  header a.trigger span.on::after {
    transform: translateY(-9px) rotate(45deg);
  }
  header .nav-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 9;
  }
  header .nav-bg.on {
    opacity: 1;
    visibility: visible;
  }
  /* main */
  .main-con {
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }
  .main-con > .swiper-container {
    z-index: 9;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  /* collection */
  .collection-con {
    width: 100%;
    margin-top: 50px;
  }
  .collection-con h2 {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 4.5vw;
    text-align: center;
  }
  .collection-con img {
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  .collection-con button.direct {
    width: calc(100% - 200px);
    height: 40px;
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 100px;
    border: 1px solid #999;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  /* best item */
  .best-item-con {
    width: 100%;
    margin-top: 50px;
  }
  .best-item-con h2 {
    display: block;
    width: 100%;
    font-size: 4.5vw;
    text-align: center;
  }
  .best-item-list {
    width: 80%;
    margin: 30px auto;
  }
  .best-item-list li {
    float: left;
    width: 48%;
    height: 50vw;
    margin: 20px 0;
  }
  .best-item-list li:nth-child(2n) {
    float: right;
  }
  .best-item-list li a img {
    width: 100%;
  }
  .best-item-list li span {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 3vw;
    text-align: center;
  }
  /* sale */
  .sale-con {
    width: 100%;
    margin-top: 50px;
  }
  .sale-con h2 {
    display: block;
    width: 100%;
    font-size: 4.5vw;
    text-align: center;
  }
  .sale-con .swiper-container {
    margin: 50px 0;
  }
  /* aside */
  aside {
    position: fixed;
    right: 2vw;
    bottom: 4vw;
    font-size: 8vw;
    z-index: 1;
  }
  aside a i {
    color: #444;
  }
  /* footer */
  footer {
    width: 100%;
    height: 300px;
    padding-top: 30px;
    background-color: rgb(255, 252, 208);
  }
  footer p {
    padding: 10px 0;
    font-size: 2vw;
    text-align: center;
  }
  footer #sns-con {
    width: 30%;
    margin: 20px auto;
  }
  footer #sns-con li {
    float: left;
    width: 33.33%;
  }
  footer #sns-con li a i {
    display: block;
    font-size: 6vw;
    text-align: center;
    transition: all 0.2s ease;
  }
  footer #sns-con li:nth-child(1) a i {
    color: #ff0000;
  }
  footer #sns-con li:nth-child(2) a i {
    color: #1da1f2;
  }
  footer #sns-con li:nth-child(3) a i {
    color: #8a3ab9;
  }
}
