@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* 모바일 버전 */
@media screen and (max-width: 767px) {
  header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 99;
  }
  header a.logo {
    display: inline-block;
    margin: 10px 0 0 20px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
  }
  /* 네비게이션 */
  header nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    overflow-y: auto;
  }
  header .top-menu,
  header .bottom-menu {
    float: left;
    width: 100%;
    height: 50px;
  }
  header .top-menu > li {
    float: left;
    margin: 20px 0 0 50px;
  }
  header .bottom-menu > li {
    float: left;
    margin: 0 0 20px 50px;
  }
  header .top-menu > li > a,
  header .bottom-menu > li > a {
    font-size: 14px;
  }
  header .main-menu {
    float: left;
    width: 100%;
    height: calc(100% - 100px);
    padding-top: 20px;
  }
  header .main-menu > li {
    margin: 25px 0 0 50px;
  }
  header .main-menu > li > a {
    font-size: 32px;
    font-weight: 700;
  }
  header .sub-menu > li > a {
    margin: 20px 0 0 30px;
  }
  header .sub-menu > li > a {
    font-size: 22px;
    font-weight: 600;
  }
  header a.trigger {
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    height: 26px;
    margin: 16px 20px 0 0;
    z-index: 100;
  }
  header a.trigger span {
    display: block;
    position: relative;
    width: 26px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before,
  header a.trigger span::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #333;
    transition: all 0.4s ease;
  }
  header a.trigger span::before {
    top: 9px;
  }
  header a.trigger span::after {
    top: 18px;
  }
  /* active class 추가 */
  header a.trigger span.on {
    background-color: transparent;
  }
  header a.trigger span.on::before {
    transform: rotate(-45deg);
  }
  header a.trigger span.on::after {
    transform: translateY(-9px) rotate(45deg);
  }
  header .nav-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 9;
  }
  header .nav-bg.on {
    opacity: 1;
    visibility: visible;
  }

  /* main */
  .banner-con {
    padding-top: 50px;
  }
  .banner-con .swiper-container {
    z-index: 9;
  }
  .banner-con .swiper-slide img {
    width: 100%;
  }
  /* collection */
  .collection-con {
    width: 90%;
    margin: 50px 5% 0 5%;
  }
  .collection-con h2 {
    display: block;
    width: 100%;
    font-size: 4.5vw;
    text-align: center;
  }
  .collection-list > li {
    width: 100%;
    margin: 20px 0;
  }
  .collection-list > li > img {
    width: 60%;
  }
  .collection-list > li > span {
    display: block;
    width: 40%;
    padding: 30% 5%;
  }
  .collection-list > li > span > a {
    position: relative;
    height: 12vw;
    font-size: 18vw;
    text-align: center;
    line-height: 7vw;
    transition: color 0.2s ease;
  }
  .collection-list > li > span > a::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 45%;
    height: 100%;
    background-color: salmon;
    border-radius: 40px;
    transition: width 0.2s ease;
    z-index: -1;
  }
  .collection-list > li > span > a:hover {
    color: #fff;
  }
  .collection-list > li > span > a:hover::after {
    width: 100%;
  }
  .collection-list > li:first-child > img,
  .collection-list > li:last-child > span {
    float: left;
  }
  .collection-list > li:first-child > span,
  .collection-list > li:last-child > img {
    float: right;
  }

  /* best item */
  .best-item-con {
    width: 100%;
    margin-top: 30px;
  }
  .best-item-con h2 {
    display: block;
    width: 100%;
    font-size: 4.5vw;
    text-align: center;
  }
  .best-item-list {
    width: 90%;
    margin: 0 auto;
  }
  .best-item-list > li {
    float: left;
    width: 48%;
    height: 50vw;
    margin: 20px 0;
  }
  .best-item-list > li:nth-child(2n) {
    float: right;
  }
  .best-item-list > li > a {
    position: relative;
    border: 1px solid #333;
  }
  .best-item-list > li > a::before {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
  }
  .best-item-list > li:hover a::before,
  .best-item-list > li:hover a::after {
    opacity: 1;
  }
  .best-item-list > li > a::after {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "SHOP NOW";
    width: 50%;
    height: 15%;
    padding-top: 5%;
    font-size: 2.5vw;
    text-align: center;
    background-color: #fff;
    border: 1px solid #333;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.2s ease;
  }
  .best-item-list > li > a > img {
    width: 100%;
  }
  .best-item-list > li > span {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 3vw;
    text-align: center;
  }
  .best-item-con button.direct {
    width: calc(100% - 30vw);
    height: 40px;
    margin-top: 20px;
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15vw;
    border: 1px solid #999;
    transition: color, background-color 0.2s ease;
    cursor: pointer;
  }
  .best-item-con button.direct:hover {
    color: #fff;
    background-color: salmon;
  }
  /* sale */
  .sale-con {
    width: 100%;
    margin-top: 50px;
  }
  .sale-con h2 {
    display: block;
    width: 100%;
    font-size: 4.5vw;
    text-align: center;
  }
  .sale-con .swiper-container {
    margin-top: 20px;
  }
  .sale-con .swiper-slide img {
    width: 100%;
  }
  /* aside */
  aside {
    position: fixed;
    right: 2vw;
    bottom: 4vw;
    font-size: 8vw;
    z-index: 1;
  }
  /* footer */
  footer {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: rgb(255, 252, 208);
  }
  footer p {
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
  }
  footer .sns-con {
    width: 30%;
    margin: 20px auto;
  }
  footer .sns-con li {
    float: left;
    width: 33.33%;
  }
  footer .sns-con li a i {
    display: block;
    font-size: 30px;
    text-align: center;
  }
  footer .sns-con li:nth-child(1) a i {
    color: #ff0000;
  }
  footer .sns-con li:nth-child(2) a i {
    color: #1da1f2;
  }
  footer .sns-con li:nth-child(3) a i {
    color: #8a3ab9;
  }
}
